@import 'variables';
@import 'mixins';


* {
	box-sizing: border-box;
}


html, body {
	height: 100%;
	width: 100%;
	font-family: "Arial", "Helvetica", sans-serif;
	color: #444;
	background: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

.navigation {
	@include flexRow;
	// @include navigationGradient(180deg);
	
	padding-left: 60px;
	padding-right: 60px;

	justify-content: flex-start;

	height: 60px;
	width: 100%;


		.navigation__img {
			background-repeat: no-repeat;
			background-size: fill;
			background-position: center;
		}

		.navigation__img--logo {
			background-image: url(../img/jeep-logo.png);
			width: 95px;
			height: 60px;
		}

		.navigation__img--build-ribbon {

		}

		.navigation__navlink {
			@include flexRow;
			padding: 20px;
			align-items: center;
			text-align: center;
			font-weight: 600;
			border-top: 4px solid transparent;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
		}

		.navigation__navlink--state-active {
			border-top-color: $gold;
		}

		.navigation__img--build-ribbon {

		}
}

.carousel {
	width: 100%;

	.carousel__img {
		width: 100%;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 748px;
		background-position: center top;
	}

	.carousel__img--feature1 {
		background-image: url(../img/feature-1-bg.jpg);
		z-index: 1;
		padding-top: 200px;
	}

	.carousel__img--feature1Vehicles {
		align-self: flex-end;
		z-index: 2;
		width: 100%;
		background-image: url(../img/feature-1-vehicles.jpg);
	}
}

.hero {
	width: 100%;
	color: $offWhite;

	.hero__image {
		background-image: url(../img/vehicles-wrangler-main.jpg);
		width: 100%;
		height: 500px;
		background-size: cover;
		background-position: top center;
		padding: 4vw 3vw 3vw 4vw;
	}

	.hero--content {
		max-width: 50vw;
	}

	.hero__header {
		font-size: 4.5vw;
		@include dropShadow;
	}

	.hero__subtitle {
		text-transform: uppercase;
		margin-top: 3vw;
		margin-bottom: 3vw;
		font-size: 2vw;
		@include dropShadow;
	}
	
	.hero__copy {
		padding: 2vw;
		line-height: 2vw;
		max-width: 30vw;
		font-size: 1.4vw;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.banner-middle {
	margin-left: 5%;
	margin-right: 5%;
	position: absolute;
	transform: translateY(-25%);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: $offWhite;

	@include flexRow;
	flex-wrap: wrap;

	.banner-middle__top-half {
		@include flexRow;
		flex-wrap: wrap;
		width: 100%;
		justify-content: flex-start;
		margin: 3vw;
	}

	.banner-middle__top-half__pricing {
		@include flexRow;
		flex-wrap: wrap;
		width: 20%;
	}

	.pricing-header--price-type {
		font-weight: 700;
		width: 100%;
		margin-bottom: 0.5vw;
	}

	.pricing-amount {
		font-weight: 100;
		font-size: 2.5vw;
		letter-spacing: 0.15vw;
	}

	.pricing-amount--lease-term {
		max-width: 6.5vw;
		font-size: 1vw;
		align-self: flex-end;
		font-weight: 700;
		margin-left: 1vw;
	}

	.pricing-amount--msrp {
		width: 100%;
	}

	.disclaimer {
		font-size: 1vw;
		width: 14vw;
		margin-top: 0.5vw;
		line-height: 1.3vw;
	}

	.banner-middle__top-half--promo-header {
		margin: 2vw;
		width: 30%;
		height: 100%;
		margin-left: 27.5%;
		align-self: flex-end;
		background-image: url(../img/promo-header.png);
		background-size: 100%;
	}

	.banner-middle__bottom-half {
		@include flexRow;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-image: url(../img/awards-background.jpg);
		background-size: fill;
		padding: 2.5vw;
	}

	.banner-middle__bottom-half--award-icon {
		background-image: url(../img/award-icon.png);
		height: 88px;
		width: 83px;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.banner-middle__bottom-half__copy-container {
		@include flexColumn;
		align-items: center;
		justify-content: center;
		margin-left: 2vw;
	}

	.banner-middle__bottom-half--award {
		margin: 0.35vw;
	}

	.bold {
		font-weight: 700;
		font-size: 2vw;
	}

}








