* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444;
  background: #191919; }

a {
  text-decoration: none;
  color: inherit; }

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
  background: linear-gradient(to bottom, #333333 20%, #000000 84%); }
  .navigation .navigation__img {
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    margin-right: 1vw; }
  .navigation .navigation__img--logo {
    background-image: url(../img/jeep-logo.png);
    width: 95px;
    height: 60px; }
  .navigation .navigation__img--build-ribbon {
    height: 94px;
    width: 64px;
    background-image: url(../img/build-ribbon.png);
    background-size: 100%;
    margin-left: 25vw; }
  .navigation .navigation__navlink {
    color: #787878;
    padding: 20px;
    padding-top: 16px;
    text-align: center;
    font-weight: 600;
    border-top: 4px solid #333;
    border-left: 1.5px solid #000;
    border-right: 1.5px solid #000; }
  .navigation .navigation__navlink--state-active {
    border-top: 4px solid #ffb302; }

.carousel {
  width: 100%; }
  .carousel .carousel__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 748px;
    background-position: center top; }
  .carousel .carousel__img--feature1 {
    background-image: url(../img/feature-1-bg.jpg);
    z-index: 1;
    padding-top: 200px; }
  .carousel .carousel__img--feature1Vehicles {
    align-self: flex-end;
    z-index: 2;
    width: 100%;
    background-image: url(../img/feature-1-vehicles.jpg); }

.hero {
  width: 100%;
  color: #eee; }
  .hero .hero__image {
    background-image: url(../img/vehicles-wrangler-main.jpg);
    width: 100%;
    height: 600px;
    background-size: auto 100%;
    background-position: center;
    padding: 40px 20px 150px 50px; }
  .hero .hero--content {
    max-width: 50vw; }
  .hero .hero__header {
    font-size: 4.5vw;
    text-shadow: 2px 2px 2px black; }
  .hero .hero__subtitle {
    text-transform: uppercase;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 2vw;
    text-shadow: 2px 2px 2px black; }
  .hero .hero__copy {
    padding: 2vw;
    line-height: 2vw;
    max-width: 30vw;
    font-size: 1.4vw;
    background-color: rgba(0, 0, 0, 0.5); }

.banner-middle {
  margin-left: 5%;
  margin-right: 5%;
  transform: translateY(-25%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-wrap: wrap; }
  .banner-middle .banner-middle__top-half {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin: 3vw; }
  .banner-middle .banner-middle__top-half__pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    width: 20%; }
  .banner-middle .pricing-header--price-type {
    font-weight: 700;
    width: 100%;
    margin-bottom: 0.5vw; }
  .banner-middle .pricing-amount {
    font-weight: 100;
    font-size: 2.5vw;
    letter-spacing: 0.15vw; }
  .banner-middle .pricing-amount--lease-term {
    max-width: 6.5vw;
    font-size: 1vw;
    align-self: flex-end;
    font-weight: 700;
    margin-left: 1vw; }
  .banner-middle .pricing-amount--msrp {
    width: 100%; }
  .banner-middle .disclaimer {
    font-size: 1vw;
    width: 14vw;
    margin-top: 0.5vw;
    line-height: 1.3vw; }
  .banner-middle .banner-middle__top-half--promo-header {
    margin: 2vw;
    width: 30%;
    height: 100%;
    margin-left: 27.5%;
    align-self: flex-end;
    background-image: url(../img/promo-header.png);
    background-size: 100%; }
  .banner-middle .banner-middle__bottom-half {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 131px;
    background-image: url(../img/awards-background.jpg);
    background-size: fill;
    padding: 2.5vw; }
  .banner-middle .banner-middle__bottom-half--award-icon {
    background-image: url(../img/award-icon.png);
    height: 88px;
    width: 83px;
    background-size: 100%;
    background-repeat: no-repeat; }
  .banner-middle .banner-middle__bottom-half__copy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2vw; }
  .banner-middle .banner-middle__bottom-half--award {
    margin: 0.35vw; }
  .banner-middle .bold {
    font-weight: 700;
    font-size: 2vw; }

.sitemap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6vw;
  margin-left: 5vw;
  margin-right: 5vw; }
  .sitemap .sitemap__link {
    margin-bottom: 0.5vw;
    font-size: 1.25vw;
    color: #787878; }
  .sitemap .sitemap__link--category-heading {
    font-weight: 700;
    color: #eee;
    text-transform: uppercase;
    margin-bottom: 1.25vw; }

.footer__copy {
  font-size: 1vw;
  margin-bottom: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 70%; }

/*# sourceMappingURL=main.css.map */
